@import "scss/__setting.scss";

.column{
    flex: 0 0 auto;
    width: 300px;
    height: calc(100% - #{$gap});
    max-height: 100%;
    &:not(:last-child)
    {
      margin-right: $gap;
    }
    &:first-child{
      margin-left: $gap;
    }
    > * {
      background-color: $col-bg-color;
      color:$col-color;
      padding: 0px 8px 0px 8px;
    }
    .column-drag-handle{
      line-height: 36px;
      font-size: 16px;
      font-weight: bold;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      display: flex;
      cursor: pointer;
      .column-title{
        flex: 90%;
        margin: 10px 0 0px 0;
        input
        {
          margin-bottom: 0px;
        }
      }
      .column-dropdown-actions{
        flex: 10%;
        button{
          background-color: transparent;
          border: none;
          color: #abc;
        }
        .dropdown-toggle::after
        {
          display: none;
        }
        .btn{
          transform: translateY(24%);
          margin-left: 10px;
          line-height: 1.3;
          &:hover
          {
            background-color: $button-hover-color;
          }
        }
        i{
          color: $col-color;
          &::before
          {
            position: absolute;
            top: 9px;
            left: 11px;
          }
        }
      }
    }
    footer{
      padding-left: 10px;
      line-height: 36px;
      font-size: 14px;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      color: #888;
      height: 45px;
      .footer-actions{
        border-radius: $border-radius-card;
        cursor: pointer;
        height: 85%;
        &:hover{
          color: $col-color;
          background-color: rgb(228, 226, 226);
        }
      }
    }
    .card-list{
      margin: 0;
      max-height: calc(100% - #{$height-header} - #{$height-footer});
      overflow-y: auto;
      //custom scroll-bar
      &::-webkit-scrollbar{
        -webkit-appearance: none;
      }
      &::-webkit-scrollbar:vertical{
        width: $width-scrollbar-thumb;
      }
      &::-webkit-scrollbar-thumb{
        background-color: darken($col-bg-color, 15);
        border-radius: $border-radius;
      }
      img{
        width: 100%;
        height: auto;
      }

      .card-ghost{
        transition: transform 0.18s ease;
        transform: rotateZ(5deg);
        font-weight: bold;
      }

      .card-ghost-drop{
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg);
        font-weight: bold;
      }

      .card-drop-preview{
          background-color: rgba(150,150,200,0.1);
          border: 1px dashed #abc;
          margin: 5px;
      }
      .smooth-dnd-container.vertical{
        margin-bottom: $gap/2;
        .smooth-dnd-draggable-wrapper:not(:last-child){
          margin-bottom: $gap;
        }
      }
    }
  }