@import "/src/_setting.scss";

li.card-item{
    background-color: white;
    padding: $gap;
    border-radius: $border-radius-card;
    box-shadow: 0 1px rgba(0,0,0,0.1);
    &:not(:last-child)
    {
      margin-bottom: $gap;
    }
    
  }