@import url('https://fonts.gooogleapis.com/css2?family=Source+Sans+Pro:wght:@400;600');

@import "scss/__variables.scss";

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';