@import "scss/__setting.scss";

.card-attachments-dropdown
{
      .input-attachments-container
      {
          text-align: right;
          .custom-file-input
          {
              font-size: 12px;
              color: $col-color;
              margin-right: 45px;
              &::-webkit-file-upload-button {
                  color: $col-color;
                  font-size: 14px;
                  padding: 5px 10px;
                  border: none;
                  background-color: #091e420a;
                  cursor: pointer;
                  border-radius: 5px;
              }
              &:hover
              {
                  &::-webkit-file-upload-button {
                      background-color: #091e4214;
                  }
              }
              
          }
          .btn
          {
              margin-right: 20px;
              width: fit-content!important;
              background-color: #0d6efd !important;
              color: white!important;
              &:hover
              {
                  background-color: #0b5ed7 !important;
              }
          }
      }
      .attachment-link-added-body
      {
          margin-left: 20px;
          span
          {
              font-size: 12px;
          }
          input
          {
              width: 93%;
          }
          
      }
      .button-confirm-container
      {
          .btn-primary
          {
              margin-left: 20px;
              width: fit-content!important;
              background-color: #0d6efd !important;
              color: white!important;
              &:hover
              {
                  background-color: #0b5ed7 !important;
              }
          }
      }
  }