@import "scss/__setting.scss";

.tabbed-pane-nav {
    background-color: $background-pane-header;
    border-bottom: 1px solid $border-color-tab;
    position: relative;
    text-align: center;
    ul
    {
        li
        {
            display: inline-block;
            .tabbed-pane-nav-item-button {
                color: $col-color;
                background-color: #dfe1e6;
                border: 1px solid #dfe1e6;
                border-bottom: 0;
                border-radius: 3px 3px 0 0;
                box-sizing: border-box;
                display: inline-block;
                font-weight: 700;
                margin: 2px 2px 0;
                padding: 8px 20px;
                text-decoration: none;
                &.active, &.active:active, &.active:hover {
                    background-color: #fff;
                    border-color: #dfe1e6;
                    cursor: default;
                    margin-bottom: -1px;
                    padding-bottom: 9px;
                }
                &:hover
                {
                    background-color: $border-color-tab-hover;
                    border-color: $border-color-tab-hover;
                }
            }
            
        }
    }
}