@import "scss/__setting.scss";

.card-big-task-dropdown
{
  .big-task-added-body
  {
    margin: 10px 20px;
    span
    {
      color: #6B778C!important;
      font-size: 12px!important;
    }
    input
    {
      background-color: #fafbfc;
      box-shadow: inset 0 0 0 2px #dfe1e6;
      color: $col-color;
    }
  }
  &.show
  {
    button
    {
      &.btn-confirm
      {
        background-color: #0d6efd!important;
        width: fit-content!important;
        color: white!important;
        &:hover
        {
          background-color: #0b5ed7!important;
        }
      }
    }
  }
}