//const
//gap
$gap: 10px;

//background-color
$board-bg-color: #0079bf;
$app-bar-bg-color: #0067a3;
$col-bg-color: #ebecf0;

//color
$col-color: #172b4d;
$button-hover-color: #d7d7d7;
$border-input-focus-color: #86b7fe;

//height
$height-header: 36px;
$height-footer: 36px;
$app-bar-height: 4vh;
$board-bar-height: 5vh;
$board-content-height: 91vh;

//border-radius
$border-radius: 5px;
$border-radius-card: 5px;

//scroll-bar-width
$width-scrollbar-thumb: 5px;