//const
//gap
$gap: 10px;

//background-color
$board-bg-color: #0079bf;
$app-bar-bg-color: #0067a3;
$col-bg-color: #ebecf0;

//color
$col-color: #333;

//height
$height-header: 36px;
$height-footer: 36px;

//border-radius
$border-radius: 5px;
$border-radius-card: 5px;

//scroll-bar-width
$width-scrollbar-thumb: 5px;