@import url('https://fonts.gooogleapis.com/css2?family=Source+Sans+Pro:wght:@400;600');

@import "/src/_setting.scss";

*
{
  box-sizing: border-box;
}

body
{
    margin: 0;
    line-height: 1.3rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}

.trello-app
{
  height: 100vh;
  background-color: $board-bg-color;
  overflow: hidden;
}