//const
//gap
$gap: 10px;

//background-color
$board-bg-color: #0079bf;
$app-bar-bg-color: #0067a3;
$col-bg-color: #ebecf0;
$background-switch: #eee;
$background-logo : #282b2e;
$background-normal-radio: #f7f7f7;
$background-form: #fafafa;
$background-focus-radio: #ddd;
$background-item-checked: #E1F3E8;
$background-hover: rgba(0,0,0,.1);
$backgorund-info: #5bc0de;
$background-hover-white-button: rgba(0,0,0,.02);
$backgorund-middel-content: #F5F5F5;

//color
$col-color: #172b4d;
$button-hover-color: #d7d7d7;
$border-input-focus-color: #86b7fe;
$text-color: #212529;
$link-hover: #ddae71;
$button-hover: #f8f9fa;
$text-color: #212529;
$text-email-color: rgba(41,42,58,.66);
$text-gray: #929292;

//border-color
$border-color-avatar: #c9c9c9;
$border-color-box: rgba(0,0,0,.05);
$border-color-button: #25282a;
$border-color-input: #ccc;

//height
$height-header: 36px;
$height-footer: 36px;
$app-bar-height: 4vh;
$board-bar-height: 5vh;
$board-content-height: 91vh;

//border-radius
$border-radius: 5px;
$border-radius-card: 5px;

//scroll-bar-width
$width-scrollbar-thumb: 5px;

//box-shadow
$box-shadow: inset 0 0 5px rgba(0, 0, 0 , 0.05);

//image
$img-login: "../../../Images/features/login.png";
$img-user: "../../../Images/features/user.png";
$facebook: "../../../Images/features/facebook.png";
$img-username: "../../../Images/features/username.png";
$img-phone: "../../../Images/features/phone.png";
$img-email: "../../../Images/features/email.png";
$img-pass: "../../../Images/features/lock.png";